# Python cached bytecode files
*.pyc
*.pyo
*.pyd

# Temporary files, usually created by text editors (vim)
*.swp
*~

# Created by setup.py sdist
build/
dist/
pyperformance.egg-info/

# Created by the pyperformance script
venv/

# Created by the tox program
.tox/
