# pyperformance dependencies
# --------------------------

pyperf

# for benchmark metadata:
packaging
toml


# Benchmarks dependencies
# -----------------------
#
# When one of these dependencies is upgraded, the pyperformance major version
# should be increased to respect semantic versionning. Comparison between
# two pyperformance results of two different major versions is not reliable.

# XXX Move these to the individual benchmark dirs.

Chameleon                          # bm_chameleon
Django                             # bm_django_template
# FIXME: reenable genshi
# Genshi                           # bm_genshi
Mako                               # bm_mako
SQLAlchemy                         # bm_sqlalchemy_declarative
# FIXME: reenable hg_startup
# mercurial                          # bm_hg_startup
html5lib                           # bm_html5lib
pyaes                              # bm_crypto_pyaes
sympy                              # bm_sympy
tornado                            # bm_tornado_http

# for the pyston benchmarks:
requests
aiohttp
uvloop
greenlet
gevent
django-cms
djangocms-bootstrap4
djangocms-installer
djangocms-file
djangocms-googlemap
djangocms-snippet
djangocms-style
djangocms-video
Flask
Flask-Login
Flask-Blogging
gunicorn
uvloop
mypy
pycparser
pylint
torch
thrift
typed-ast


# Optional dependencies
# ---------------------
#
# The list of optional dependencies is hardcoded in pyperformance/venv.py

psutil
dulwich                            # bm_dulwich_log
