# Installer requirements
# ----------------------
#
# Note: the list of pre-requirements is hardcoded in performance/venv.py

# html5lib requires setuptools 18.5 or newer
setuptools>=18.5
# pip 6 is the first version supporting environment markers
pip>=6.0
# install wheel so pip can cache binary wheel packages locally,
# and install prebuilt wheel packages from PyPI
wheel


# perf dependencies
# -----------------

six==1.10.0
perf==0.7.5


# Benchmarks dependencies
# -----------------------
#
# When one of these dependencies is upgraded, the performance major version
# should be increased to respect semantic versionning. Comparison between
# two performance results of two different major versions is not reliable.

Chameleon==2.22                           # chameleon
Django==1.10                              # django_template
Mako==1.0.4                               # mako
Mercurial==3.9; python_version < '3.0'    # hg_startup
html5lib==0.999999999                     # html5lib
pathlib2==2.1.0; python_version < '3.4'   # pathlib
spambayes==1.1b2; python_version < '3.0'  # spambayes
tornado==4.4.1                            # tornado_http


# Optional dependencies
# ---------------------
#
# Note: the list of optional dependencies is hardcoded in performance/venv.py

psutil


#----------------------------
# performance module is also reinstalled inside the virtual environment
# by performance/venv.py
