name: lint

on: [push, pull_request, workflow_dispatch]

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: tox-dev/action-pre-commit-uv@v1
